@import "nav.css";
@import "header.css";
@import "modal.css";

:root {
  --body-width: 1440px;
  --body-height: 720px;
  --nav-button-border-radius: 6px;
}

body {
  padding: 0;
  margin: 0 auto;
  height: var(--body-height);
  max-width: var(--body-width);
}

#showcase-products {
  margin-top: 2px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: minmax(200px, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.product img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#sitemap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  color: #6e6e6e;
  font-size: 10px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

#sitemap a {
  color: #08c;
  text-decoration: none;
}

#sitemap #left p {
  padding-top: 8px;
}

#sitemap #right {
  margin-top: 18px;
}

#sitemap #right a::after {
  content: "|";
  color: #6e6e6e;
  padding-left: 4px;
  padding-right: 4px;
}

#sitemap #right span {
  vertical-align: middle;
}
