#modal {
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-close {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  background:
    #fff
    url(https://web.archive.org/web/20140225205601im_/http://images.apple.com/v/your-verse/a/images/close.png)
    no-repeat 0 0;
  background-size: 30px 60px;
}

#modal-close:hover {
  background-position: 0 -30px;
}

.modal-active {
  opacity: 1 !important;
  z-index: 1 !important;
}
